@CHARSET "ISO-8859-1";

#affiche {
	float:left;
	width:auto;
	margin-right:50px; 
}

ul#Onglet {
	list-style-type: none;
	padding: 0px 0px 22px 30px;
	margin: 0px 0px 0px 0px;
	border-bottom: 1px solid DimGray;
}

ul#Onglet li {
	float: left;
	width: 100px;
	height: 21px;
	background-color: Gray;
	margin: 0px 15px 0px 0px;
	border: 1px solid DimGray;
	text-align: center;
}

ul#Onglet li.actif {
    border-bottom: 1px solid white;
    background-color: white;
}

#Onglet li a {
	display: block;
	text-align: center;
	color: Black;
	text-decoration: none;
}

ul#Onglet li a:hover {
    background-color: DimGray;
}

ul#Onglet li.actif a:hover {
    background-color: white;
}

ul#Onglet li a:active {
	 font-weight: bold;
}

ul#Onglet li.actif a:active {
    background-color: #DDDCD0;
	font-weight: normal;
}